/* 전체 레이아웃 */
.container{
  width: 375px;
  height: 812px;
  margin: 20px auto;
  background-color: beige;
}
.safe_area{
  width: 375px;
  height: 44px;
  background-color: yellowgreen;
}
.app_screen{
  width: 375px;
  height: 710px;
  overflow: hidden;
}
.container > nav{
  width: 375px;
  height: 58px;
  background-color: #00C7A3;
  overflow: hidden;
}
/* 공통요소 */
button{
  border: none;
  padding: 0;
  background-color: unset; 
}
a{
  color: black;
  text-decoration:none;
}

/* 색상 */
.red{background-color: red;}
.orange{background-color: #FF5F00;}
.yellow{background-color: #FEB700;}
.green{background-color: lime;}
.blue{background-color: skyblue;}
.purple{background-color: purple;}


/* main 화면 (1페이지) */
/* header 시작 */
header{
  background-color: red;
  margin: 0 auto;
  width: 314px;
  height: 38px;
}
header > a{
  float: left;
}
header > a > img{
  display: block;
  width: 38px;
}
header > h1{
  float: left;
  line-height: 38px;
  margin-left: 94px;
  margin-right: 71px;
}
header > ul{
  float: left;
  margin-top: 7px;
}
header > ul > li{
  float: left;
}
header > ul > li:first-child{
  margin-right: 13px;
  margin-top: 3px;
}

header > ul > li >button > img{
  display: block;
}
/* header 끝 */

/* bank_acct 시작 */
.bank_acct{
  background-color: #EEEBE5;
  padding: 39px 51px 30px;
}

.bank_acct_info{
  position: relative;
  background-color: white;
  padding-top: 14px;
  width: 100%;
  height: 155px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(173, 179, 93, 0.2);
}
.bank_acct_info > h3{
  text-align: center;
  font-size: 12px;
  color: #777;
}
.bank_acct_info > div{
  text-align: center;
}

.bank_acct_info > div.left_money{
  font-size: 25px;
  font-weight: 700;
  margin: 23px 0;

}
.bank_acct_info > div.transfer_btn {
  position: absolute;
  top: 11px;
  right: 20px;
}
.bank_acct_info > div.transfer_btn >button {
  font-size: 12px;
  font-weight: 600;
}
.bank_acct_info > div > div.range_wrap{
  float: left;
  padding-left: 32px;
}
.bank_acct_info > div > div.range_wrap >input{
  width: 202px;
  margin-bottom: 12px;
  margin-right: 7px;
}
.bank_acct_info > div > button.chart{
  float: left;
}
.bank_acct_info > div > div.left_message{
  clear: both;
}
.bank_acct_info > div > div.left_message > span{
  color: #888;
  font-weight: 700;
}
/* bank_acct 끝 */

/* 공지 */
.notice{
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin: 29px 0 25px;
}
.notice a{
  color:black;
  text-decoration: underline;
}
/* 공지 끝 */

/* 상세내역 시작 */
.bank_use_history{
  background: white;
  padding-top: 4px;
  width: 100%;
  height: 1000px;
  border-radius: 30px 30px 0px 0px;
}
.bank_use_history > .drag_btn{
  margin: 0 auto 18px;
  width: 48px;
  height: 2px;
  border-radius:50px;
  background: #777;
}
.bank_use_history > .saving{
  width: 308px;
  height: 47px;
  overflow-x: scroll;
  margin: 0 30px 17px 37px;
}
.bank_use_history > .saving >ul{
  height: 100%;
  width: 550px;
}
.bank_use_history > .saving >ul::after{
  display: block;
  content: '';
  clear: both;
}
.bank_use_history > .saving >ul >li{
  float: left;
  position: relative;
  height: 100%;
  width: 162px;
  background-color: #DADADA;
  border-radius: 10px;
  overflow: hidden;
}
.bank_use_history > .saving >ul >li ~ li{
  margin-left: 13px;
}
.bank_use_history > .saving >ul >li >span{
  position: absolute;
  font-size: 11px;
  font-weight: 700;
  color: white;
  margin: 9px 0 0 13px;
}
.bank_use_history > .saving >ul >li >span ~ span{
  margin-top: 26px;
}
.bank_use_history > .saving >ul >li >div{
  height: 100%;
  width: 70%;
}

.bank_use_history > .saving >ul> li:last-child{
  background-color:unset;
  line-height: 47px;
}
.bank_use_history > .saving >ul> li:last-child > a{
  color: #FF5F00;
  font-size: 11px;
  font-weight: 900;
}
.bank_use_history > .saving >ul> li:last-child >a> img{
  margin: 0px 7px 0px 15px;
  vertical-align: -8px;
}
/* bank_use_history안 상세 내역 부분 시작 */
.use_history_detail{
  margin: 0 37px;
}
.use_history_detail > ul > li{
  margin-bottom: 38px;
}
.use_history_detail > ul > li > div{
  margin-bottom: 18px;
  font-size: 13px;
  font-weight: 700;
}
.use_history_detail > ul > li > div::after{
  display: block;
  content: '';
  clear: both;
}
.use_history_detail > ul > li > div> span.total{
  float: right;
  color: #B4B4B4;
  font-weight: 500;
  font-size: 12px;
}
.use_history_detail > ul > li > ul > li{
  padding-bottom: 11px;
  border-bottom: 1px solid #B4B4B4;
  font-size: 15px;
}
.use_history_detail > ul > li > ul > li::after{
  display: block;
  content: '';
  clear: both;
}
.use_history_detail > ul > li > ul > li ~ li{
  margin-top: 14px;
}
.use_history_detail > ul > li > ul > li > span.out, span.in{
  float: right;
}
.use_history_detail > ul > li > ul > li > span.in{
  color:#FF5F00;
}
/* 상세내역 끝 */

/* 하단메뉴 시작 */
nav > ul{
  height: 58px;
  padding: 0 30px;
}

nav > ul::after{
  display: block;
  content: '';
  clear: both;
}
nav > ul > li{
  float: left;
}
nav > ul > li > a{
  display: block;
  padding: 15px;
}
nav > ul > li:nth-child(2) > a{
  padding-top: 16px;
  padding-bottom: 17px;
}
nav > ul > li:nth-child(4) > a{
   padding-top: 13px;
   padding-bottom: 17px;
}
nav > ul > li ~li{
  margin-left: 26px;
}
/* 하단메뉴 끝 */
